.player-grid {
  /* display: grid;
  grid-template-columns: auto 590px auto;
  grid-template-rows: 100px 610px auto;
  justify-items: center; */
}

.player {
  /* grid-column: 2/3;
  grid-row: 2/3; */
  margin: 0 auto;
  overflow: auto;
  height: 78vh;
  border: black 2px solid;
}

.play-controller {
  grid-column: 2/3;
  grid-row: 3/4;
  padding: 0.5em 0;
  width: 100%;
}

.track {
  display: flex;
  margin: 0.5em 0.5em;
  cursor: pointer;
  align-items: flex-start;
}

.track div {
  padding: 0.2em 0.5em;
}

.track-selected {
  background-color: rgb(29, 29, 29);
  color: rgba(240, 255, 255, 0.671);
  display: flex;
  margin: 0.5em 0.5em;
  cursor: pointer;
  align-items: flex-start;
}

.track-selected div {
  padding: 0.2em 0.5em;
}

@media (max-width: 600px) {
  .player {
    margin: 0;
    width: 100%;
  }
}
